<div class="card-container">
    <% @movies.each do |movie|%>
        <div class="card">
            <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" class="card-img-top" alt="<%= movie.title %>">
            <div class="card-body">
                <div class="text-container">
                    <h5 class="card-title"><%= movie.title %></h5>
                    <p class="card-text"><%= movie.overview %></p>
                </div>
                <a href="#" class="btn btn-primary card-btn">Go somewhere</a>
            </div>
        </div>
    <% end %>
<div>