<div class="container-fluid p-0">
  <div class="row p-4">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <%= image_tag("/assets/paramount.jpg", class: "hero-image") %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 m-auto text-center">
      <h1>Welcome to Movie Tracker</h1>
      <p class="sub-text">A place for movie lovers to track and rate movies they have seen! Best of all it's free to use.</p>
      <a class="btn btn-primary mt-4" href="/">Create Account</a>
    </div>
  </div>
</div>
<div class="row p-4 text-center">
  <div class="col-sm-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Step 1</h2>
        <p class="card-text">Create an account, all you need is an email address.</p>
        <a href="#" class="btn btn-primary">Create Account</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Step 2</h2>
        <p class="card-text">Start tracking movies, you can even search movies you have seen already.</p>
        <a href="#" class="btn btn-primary">View Movies</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Step 3</h2>
        <p class="card-text">You'll never forget if you saw that bad movie.</p>
        <a href="#" class="btn btn-primary">Start Tracking</a>
      </div>
    </div>
  </div>
</div>
