<div class="text-center">
  <h1>About Us</h1>
  <p>This is a web-app created by Robert Garcia.</p> 
  <p>It allowed me to practive development with Ruby on Rails and other technologies.</p>
  <p>This page is still a work in progress.</p>
</div>
