/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "src/media_queries";

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home-header {
    @include medium {
        justify-content: space-between;
    }
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

.navbar-light .navbar-nav .nav-link:link, .navbar-light .navbar-nav .nav-link:visited, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
    color: black;
    margin-right: 1em;
}

.nav-link:link, .nav-link:visited, .nav-link:hover, .nav-link:active {
    color: black;
    margin-right: 1em;
}

#header {
   
  font-size: 2.5em;
}
.reg-container {
    padding: 16px;
}

#main-background {
    background: #e6ae66;
}

.hr {
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
}
