.profile-image {
    border-radius: 70%;
    height: 150px;
    width: 150px;
}
.profile-mini-container {
    width: 40%;
    justify-content: space-evenly;
    display: flex;
}
.profile-header {
    margin: auto;
}