@import "src/media_queries";

.profile-image {
    border-radius: 70%;
    height: 150px;
    width: 150px;
    margin-bottom: 16px;

    @include medium {
        margin-bottom: 0;
    }
}
.profile-mini-container {
    text-align: center;
    padding: 16px;
}
.profile-header-container {
    padding: 16px;
}
.profile-header {
    display: inline-block;
    text-align: center;
    padding: 20px;
}
.profile-stats {
    display: flex;
    justify-content: space-evenly;
}
.stat {
    padding: 0 16px;
}
